nodered/flow.json
[
    {
        "id": "tab_qw",
        "type": "tab",
        "label": "Qilowatt mFRR Override",
        "disabled": true,
        "info": "Cerbo-only Qilowatt mFRR override.\n\nInputs come from qw_agent.py via the local MQTT broker (qw/qw_source, qw/qw_mode, qw/qw_powerlimit, qw/qw_connected). The state machine drives /data/qw_*.sh actuators and exposes a global.qw_mfrr flag so a co-resident curtailment flow can become mFRR-aware (see curtailment-mfrr-aware.md).\n\nImported disabled — enable only after the agent and actuators are verified."
    },
    {
        "id": "cfg_mqtt_local",
        "type": "mqtt-broker",
        "name": "Local broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "qw-cerbo-nr",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "qw/nr/online",
        "birthQos": "0",
        "birthPayload": "true",
        "birthRetain": "true",
        "closeTopic": "qw/nr/online",
        "closePayload": "false",
        "closeRetain": "true",
        "willTopic": "qw/nr/online",
        "willPayload": "false",
        "willRetain": "true",
        "sessionExpiry": ""
    },
    {
        "id": "comment_inputs",
        "type": "comment",
        "z": "tab_qw",
        "name": "MQTT INPUT — qw_* from qw_agent.py",
        "info": "qw_agent.py publishes retained qw/qw_source, qw/qw_mode, qw/qw_powerlimit, qw/qw_connected. Retain=true means NR gets the last known state immediately on start.",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_in_source",
        "type": "mqtt in",
        "z": "tab_qw",
        "name": "qw_source",
        "topic": "qw/qw_source",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cfg_mqtt_local",
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["set_source"]]
    },
    {
        "id": "set_source",
        "type": "function",
        "z": "tab_qw",
        "name": "set qw_source",
        "func": "const v = (msg.payload != null) ? String(msg.payload) : '';\nflow.set('qw_source', v);\nnode.status({fill: 'grey', shape: 'dot', text: v});\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [["trig_decide"]]
    },
    {
        "id": "mqtt_in_mode",
        "type": "mqtt in",
        "z": "tab_qw",
        "name": "qw_mode",
        "topic": "qw/qw_mode",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cfg_mqtt_local",
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [["set_mode"]]
    },
    {
        "id": "set_mode",
        "type": "function",
        "z": "tab_qw",
        "name": "set qw_mode",
        "func": "const v = (msg.payload != null) ? String(msg.payload) : '';\nflow.set('qw_mode', v);\nnode.status({fill: 'grey', shape: 'dot', text: v});\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 140,
        "wires": [["trig_decide"]]
    },
    {
        "id": "mqtt_in_powerlimit",
        "type": "mqtt in",
        "z": "tab_qw",
        "name": "qw_powerlimit",
        "topic": "qw/qw_powerlimit",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cfg_mqtt_local",
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [["set_powerlimit"]]
    },
    {
        "id": "set_powerlimit",
        "type": "function",
        "z": "tab_qw",
        "name": "set qw_powerlimit",
        "func": "const n = parseInt(msg.payload, 10);\nconst v = Number.isFinite(n) ? n : 0;\nflow.set('qw_powerlimit', v);\nnode.status({fill: 'grey', shape: 'dot', text: v + ' W'});\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 180,
        "wires": [["trig_decide"]]
    },
    {
        "id": "mqtt_in_connected",
        "type": "mqtt in",
        "z": "tab_qw",
        "name": "qw_connected",
        "topic": "qw/qw_connected",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cfg_mqtt_local",
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [["set_connected"]]
    },
    {
        "id": "set_connected",
        "type": "function",
        "z": "tab_qw",
        "name": "set qw_connected",
        "func": "const v = String(msg.payload || '').toLowerCase();\nconst connected = (v === 'on' || v === 'true' || v === '1');\nflow.set('qw_connected', connected);\nnode.status({fill: connected ? 'green' : 'red', shape: 'dot', text: connected ? 'connected' : 'disconnected'});\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 220,
        "wires": [["trig_decide"]]
    },
    {
        "id": "comment_decide",
        "type": "comment",
        "z": "tab_qw",
        "name": "DECIDE — state machine (IDLE / ACTIVE)",
        "info": "trig_decide debounces MQTT changes (500ms) and triggers state_fn. poll_10s is a backup tick so failsafes (mqtt_lost, max_duration) run even when MQTT is quiet.",
        "x": 250,
        "y": 290,
        "wires": []
    },
    {
        "id": "trig_decide",
        "type": "trigger",
        "z": "tab_qw",
        "name": "Debounce 500ms",
        "op1": "",
        "op2": "trigger",
        "op1type": "nul",
        "op2type": "str",
        "duration": "-500",
        "extend": true,
        "units": "ms",
        "bytopic": "all",
        "outputs": 1,
        "x": 580,
        "y": 340,
        "wires": [["state_fn"]]
    },
    {
        "id": "poll_10s",
        "type": "inject",
        "z": "tab_qw",
        "name": "Poll 10s",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "once": true,
        "onceDelay": "15",
        "topic": "poll",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [["state_fn"]]
    },
    {
        "id": "state_fn",
        "type": "function",
        "z": "tab_qw",
        "name": "QW state machine",
        "func": "const TOPIC = 'qw/nr';\nconst MFRR_SOURCES = ['fusebox', 'kratt'];\nconst MQTT_LOST_FAILSAFE_MS = 5 * 60 * 1000;\nconst MAX_DURATION_MS = 30 * 60 * 1000;\nconst DESS_OFF_DELAY_MS = 2000;\n\nlet sm = flow.get('qw_sm') || {\n    state: 'IDLE', event_start_ts: null, last_signed_watts: 0,\n    mqtt_lost_at: null, pending_token: null\n};\n\nconst qw_source = flow.get('qw_source') || '';\nconst qw_mode = flow.get('qw_mode') || '';\nconst qw_powerlimit = parseInt(flow.get('qw_powerlimit'), 10) || 0;\nconst qw_connected = !!flow.get('qw_connected');\nconst now = Date.now();\n\nconst isMfrr = MFRR_SOURCES.indexOf(qw_source) >= 0;\nconst signedWatts = (qw_mode === 'frrup' ? -Math.abs(qw_powerlimit) : Math.abs(qw_powerlimit));\n\n// Shared flag for a co-resident curtailment flow (see curtailment-mfrr-aware.md).\nfunction setMfrr(active, mode, watts) {\n    global.set('qw_mfrr', { active: active, mode: mode || '', signed_watts: watts || 0, ts: now });\n}\n\nfunction publishState(extra) {\n    return { topic: TOPIC + '/state', retain: true, payload: Object.assign({\n        state: sm.state, qw_source: qw_source, qw_mode: qw_mode,\n        qw_powerlimit: qw_powerlimit, qw_connected: qw_connected,\n        signed_watts: sm.last_signed_watts,\n        event_start_ts: sm.event_start_ts ? new Date(sm.event_start_ts).toISOString() : null,\n        timestamp: new Date(now).toISOString()\n    }, extra || {}) };\n}\nfunction publishError(error, context) {\n    return { topic: TOPIC + '/error', payload: { error: error, context: context || {}, timestamp: new Date(now).toISOString() } };\n}\nfunction execDess(arg) { return { payload: arg }; }\nfunction execSp(watts) { return { payload: String(watts) }; }\nfunction setStatus(text, fill) {\n    node.status({ fill: fill || (sm.state === 'ACTIVE' ? 'yellow' : 'green'), shape: 'dot', text: text });\n}\n\n// === Failsafe checks (only when ACTIVE) ===\nif (sm.state === 'ACTIVE') {\n    if (!qw_connected) {\n        if (sm.mqtt_lost_at === null) sm.mqtt_lost_at = now;\n        if (now - sm.mqtt_lost_at > MQTT_LOST_FAILSAFE_MS) {\n            sm = { state: 'IDLE', event_start_ts: null, last_signed_watts: 0, mqtt_lost_at: null, pending_token: null };\n            flow.set('qw_sm', sm); setMfrr(false);\n            setStatus('FAILSAFE mqtt_lost', 'red');\n            return [execDess('on'), execSp(0), [publishState({ failsafe: 'mqtt_lost_5min' }), publishError('mqtt_lost_5min', { qw_source })]];\n        }\n    } else { sm.mqtt_lost_at = null; }\n\n    if (sm.event_start_ts && (now - sm.event_start_ts > MAX_DURATION_MS)) {\n        const duration_ms = now - sm.event_start_ts;\n        sm = { state: 'IDLE', event_start_ts: null, last_signed_watts: 0, mqtt_lost_at: null, pending_token: null };\n        flow.set('qw_sm', sm); setMfrr(false);\n        setStatus('FAILSAFE 30min', 'red');\n        return [execDess('on'), execSp(0), [publishState({ failsafe: 'max_duration_30min', duration_ms }), publishError('mfrr_event_exceeded_30min', { qw_source, duration_ms })]];\n    }\n}\n\n// === Normal transitions ===\nif (sm.state === 'IDLE' && isMfrr) {\n    const token = 'evt-' + now;\n    sm.state = 'ACTIVE'; sm.event_start_ts = now; sm.last_signed_watts = signedWatts; sm.pending_token = token;\n    flow.set('qw_sm', sm); setMfrr(true, qw_mode, signedWatts);\n    setStatus('ACTIVE ' + signedWatts + ' W (starting)', 'yellow');\n    setTimeout(function () {\n        const cur = flow.get('qw_sm');\n        if (!cur || cur.state !== 'ACTIVE' || cur.pending_token !== token) return;\n        cur.pending_token = null; flow.set('qw_sm', cur);\n        node.send([null, execSp(cur.last_signed_watts), publishState({ phase: 'setpoint_applied' })]);\n    }, DESS_OFF_DELAY_MS);\n    return [execDess('off'), null, publishState({ phase: 'activating' })];\n}\n\nif (sm.state === 'ACTIVE' && isMfrr) {\n    if (signedWatts !== sm.last_signed_watts) {\n        sm.last_signed_watts = signedWatts; flow.set('qw_sm', sm); setMfrr(true, qw_mode, signedWatts);\n        setStatus('ACTIVE ' + signedWatts + ' W (updated)', 'yellow');\n        return [null, execSp(signedWatts), publishState({ phase: 'setpoint_updated' })];\n    }\n    setStatus('ACTIVE ' + sm.last_signed_watts + ' W (hold)', 'yellow');\n    return [null, null, null];\n}\n\nif (sm.state === 'ACTIVE' && !isMfrr) {\n    sm = { state: 'IDLE', event_start_ts: null, last_signed_watts: 0, mqtt_lost_at: null, pending_token: null };\n    flow.set('qw_sm', sm); setMfrr(false);\n    setStatus('IDLE (released)', 'green');\n    return [execDess('on'), execSp(0), publishState({ phase: 'released' })];\n}\n\nsetStatus('IDLE', 'green');\nreturn [null, null, null];",
        "outputs": 3,
        "x": 820,
        "y": 340,
        "wires": [["exec_dess_toggle"], ["exec_setpoint"], ["mqtt_pub"]]
    },
    {
        "id": "comment_exec",
        "type": "comment",
        "z": "tab_qw",
        "name": "EXEC — /data/qw_*.sh actuators",
        "info": "exec_dess_toggle -> /data/qw_dess_toggle.sh {off|on}\nexec_setpoint   -> /data/qw_grid_setpoint.sh <watts>\n\nScripts encode the ±W safety clamp + atomic DESS save/restore + /tmp/qw_dess_off_at for the watchdog.",
        "x": 1180,
        "y": 290,
        "wires": []
    },
    {
        "id": "exec_dess_toggle",
        "type": "exec",
        "z": "tab_qw",
        "command": "/data/qw_dess_toggle.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "name": "qw_dess_toggle.sh",
        "x": 1180,
        "y": 340,
        "wires": [["exec_dess_log"], ["exec_dess_stderr"], ["exec_rc_check"]]
    },
    {
        "id": "exec_setpoint",
        "type": "exec",
        "z": "tab_qw",
        "command": "/data/qw_grid_setpoint.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "name": "qw_grid_setpoint.sh",
        "x": 1180,
        "y": 400,
        "wires": [["exec_sp_log"], ["exec_sp_stderr"], ["exec_rc_check"]]
    },
    {
        "id": "exec_dess_log",
        "type": "function",
        "z": "tab_qw",
        "name": "ack dess_toggle",
        "func": "msg.topic = 'qw/nr/exec';\nmsg.payload = { script: 'qw_dess_toggle.sh', stdout: (msg.payload || '').toString().trim(), timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "x": 1410,
        "y": 320,
        "wires": [["mqtt_pub"]]
    },
    {
        "id": "exec_dess_stderr",
        "type": "function",
        "z": "tab_qw",
        "name": "stderr dess_toggle",
        "func": "const s = (msg.payload || '').toString().trim();\nif (!s) return null;\nmsg.topic = 'qw/nr/error';\nmsg.payload = { error: 'qw_dess_toggle.sh stderr', stderr: s, timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "x": 1410,
        "y": 360,
        "wires": [["mqtt_pub"]]
    },
    {
        "id": "exec_sp_log",
        "type": "function",
        "z": "tab_qw",
        "name": "ack setpoint",
        "func": "msg.topic = 'qw/nr/exec';\nmsg.payload = { script: 'qw_grid_setpoint.sh', stdout: (msg.payload || '').toString().trim(), timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "x": 1410,
        "y": 400,
        "wires": [["mqtt_pub"]]
    },
    {
        "id": "exec_sp_stderr",
        "type": "function",
        "z": "tab_qw",
        "name": "stderr setpoint",
        "func": "const s = (msg.payload || '').toString().trim();\nif (!s) return null;\nmsg.topic = 'qw/nr/error';\nmsg.payload = { error: 'qw_grid_setpoint.sh stderr', stderr: s, timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "x": 1410,
        "y": 440,
        "wires": [["mqtt_pub"]]
    },
    {
        "id": "exec_rc_check",
        "type": "function",
        "z": "tab_qw",
        "name": "rc check",
        "func": "const rc = (msg.payload && typeof msg.payload === 'object') ? msg.payload : msg;\nconst code = rc.code != null ? rc.code : (rc.payload && rc.payload.code);\nif (code === 0 || code == null) return null;\nreturn { topic: 'qw/nr/error', payload: { error: 'exec_nonzero_exit', exit_code: code, timestamp: new Date().toISOString() } };",
        "outputs": 1,
        "x": 1410,
        "y": 480,
        "wires": [["mqtt_pub"]]
    },
    {
        "id": "comment_mqtt_out",
        "type": "comment",
        "z": "tab_qw",
        "name": "MQTT OUT — qw/nr/*",
        "info": "qw/nr/state (retained), qw/nr/exec, qw/nr/error, qw/nr/online (LWT).",
        "x": 1640,
        "y": 290,
        "wires": []
    },
    {
        "id": "mqtt_pub",
        "type": "mqtt out",
        "z": "tab_qw",
        "name": "MQTT publish",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "cfg_mqtt_local",
        "x": 1660,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment_test",
        "type": "comment",
        "z": "tab_qw",
        "name": "TEST — manual mFRR simulations",
        "info": "Test inject buttons bypass state_fn and call the exec actuators directly in sequence: dess off -> setpoint W -> (duration) -> setpoint 0 -> dess on.\n\nWARNING: do not run during a real mFRR event (qw_source = fusebox/kratt) — race with state_fn.",
        "x": 240,
        "y": 580,
        "wires": []
    },
    {
        "id": "test_3kw_frrdown",
        "type": "inject",
        "z": "tab_qw",
        "name": "TEST 3 kW frrdown 30s",
        "props": [{"p": "payload"}],
        "topic": "test",
        "payload": "test_3kw_frrdown",
        "payloadType": "str",
        "x": 170,
        "y": 640,
        "wires": [["test_fn"]]
    },
    {
        "id": "test_5kw_frrup",
        "type": "inject",
        "z": "tab_qw",
        "name": "TEST 5 kW frrup 30s",
        "props": [{"p": "payload"}],
        "topic": "test",
        "payload": "test_5kw_frrup",
        "payloadType": "str",
        "x": 160,
        "y": 680,
        "wires": [["test_fn"]]
    },
    {
        "id": "test_fn",
        "type": "function",
        "z": "tab_qw",
        "name": "Test sequencer",
        "func": "const TOPIC = 'qw/nr';\nconst tests = {\n    test_3kw_frrdown:  { watts:  3000, duration_s: 30 },\n    test_5kw_frrup:    { watts: -5000, duration_s: 30 }\n};\nconst cfg = tests[msg.payload];\nif (!cfg) { node.warn('Unknown test: ' + msg.payload); return null; }\nnode.status({ fill: 'blue', shape: 'dot', text: 'TEST ' + msg.payload });\nfunction pubState(phase, extra) {\n    node.send([null, null, { topic: TOPIC + '/state', retain: true, payload: Object.assign({ state: 'TEST', test_id: msg.payload, test_watts: cfg.watts, phase: phase, timestamp: new Date().toISOString() }, extra || {}) }]);\n}\nnode.send([{ payload: 'off' }, null, null]); pubState('dess_off');\nsetTimeout(function () { node.send([null, { payload: String(cfg.watts) }, null]); pubState('setpoint', { setpoint_w: cfg.watts }); }, 2000);\nsetTimeout(function () { node.send([null, { payload: '0' }, null]); pubState('release'); }, 2000 + cfg.duration_s * 1000);\nsetTimeout(function () { node.send([{ payload: 'on' }, null, null]); pubState('dess_on'); node.status({ fill: 'green', shape: 'ring', text: 'TEST done' }); }, 2000 + cfg.duration_s * 1000 + 1000);\nreturn null;",
        "outputs": 3,
        "x": 410,
        "y": 660,
        "wires": [["exec_dess_toggle"], ["exec_setpoint"], ["mqtt_pub"]]
    },
    {
        "id": "catch_all",
        "type": "catch",
        "z": "tab_qw",
        "name": "Catch all",
        "scope": null,
        "uncaught": false,
        "x": 130,
        "y": 800,
        "wires": [["catch_fn"]]
    },
    {
        "id": "catch_fn",
        "type": "function",
        "z": "tab_qw",
        "name": "Build catch log",
        "func": "const err = msg.error;\nconst errMsg = err ? (err.message || JSON.stringify(err)) : 'unknown';\nconst src = (err && err.source && err.source.name) ? err.source.name : 'unknown';\nnode.warn('Caught: ' + errMsg + ' (src=' + src + ')');\nreturn { topic: 'qw/nr/error', payload: { error: errMsg, source: src, timestamp: new Date().toISOString() } };",
        "outputs": 1,
        "x": 340,
        "y": 800,
        "wires": [["mqtt_pub"]]
    }
]
